.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  padding: 1rem;
  width: 270px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  position: relative;
  background-color: #fff;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.02);
}

.card.online {
  border-left: 6px solid #2ecc71;
}

.card.offline {
  border-left: 6px solid #e74c3c;
}

.card p {
  margin: 0.3rem 0;
  font-size: 0.95rem;
}

.status-api{
  display: flex;
  align-items: center;
  gap: 5px;

}

.remove-btn {
  align-self: flex-end;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 50px;
  background: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  align-items: center;
}

.remove-btn img {
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.remove-btn:hover {
  background-color: #ddd;
}

.remove-btn img:hover {
  transform: scale(1.05);
}

.api-url {
  word-break: break-all;
  /* força quebra em qualquer ponto */
  white-space: normal;
}

.status-icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}